<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Band</title>
</head>
<body>
<form action="#" th:action="@{/updateBand/{id}(id=${band.id})}"
th:object="${band}" method="post">
 <label for="name">Name</label>
 <input type="text" th:field="*{name}" id="name"
placeholder="Name">
 <span th:if="${#fields.hasErrors('name')}"
th:errors="*{name}"></span>

 <label for="genre">Genre</label>
 <input type="text" th:field="*{genre}" id="genre"
placeholder="Genre">
 <span th:if="${#fields.hasErrors('genre')}"
th:errors="genre"></span>

 <label for="manager">Manager</label>
 <input type="text" th:field="*{manager}" id="manager"
placeholder="Manager">
 <span th:if="${#fields.hasErrors('manager')}"
th:errors="*{manager}"></span>
 <input type="submit" value="Update Band">
</form>
<br>
<a href="index.html">Go Home</a>
</body>
</html>