<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New Band</title>
</head>

<body>
<form name='f' th:object="${newBand}" th:action="@{/inputBand}"
method='POST'>

<h3>Add a Band!</h3>


Name: <input name="name" size="30"> <br />
Genre: <input name="genre" size="30"><br />
Manager: <input name="manager" size="30"><br />

<input name="submit" type="submit" value="submit" />
</form>
<a href="viewAllBands">View all Bands</a><br>
<a href="index.html">Go Home</a>

</body>
</html>