<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New Gig</title>
</head>
<body>
<form name='f' th:object="${newGig}" th:action="@{/inputGig}"
method='POST'>
Gig Date/Time: <input type="datetime-local" id="eventDateTime"
       name="eventDateTime" value="2019-11-30T19:30"
       min="2019-11-20T00:00" max="2020-12-31T00:00" required="required">
Venue: <select name="venue" required="required">
		 <option th:each="venue: ${venues}" th:value="${venue.id}" th:text="${venue.name}">
		</select><br>
Opener: <br/><select name="band" multiple size="6">
		 <option th:each="band: ${bands}" th:value="${band.id}" th:text="${band.name}">
		</select><br>
<!--Headliner: <select name="headliner">
		 <option th:each="band: ${bands}" th:value="${band.id}" th:text="${band.name}">
		</select><br> -->
<input name="submit" type="submit" value="submit" />
</form>
<a href="viewAllGigs">View all Gigs</a><br>
<a href="index.html">Go Home</a>
</body>
</html>